@using MangaBook.Models;
@model List<ChuDe>


@{
    foreach (var item in Model)
    {
        <li>
            <a href='index.php?page=theloai&matheloai=1&p=1'><span>@item.TenChuDe</span></a><ul class='sub-level'></ul>
        </li>
    }
}
