
@{
    Layout = "~/Views/Layout/UserLayout.cshtml";
    ViewBag.Title = "Index";
}

<div class="sp_content">
    <table>
        <tr>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=56' title='Chi tiết sản phẩm'><img src='/images/img_sp/de-thi-dam-mau.jpeg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=56'>Đề Thi Đẫm Máu</a></div>

                <div class='sp_gia'>119,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=56'><img src='../images/icon_muahang.png' /></a></div>
            </td>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=57' title='Chi tiết sản phẩm'><img src='/images/img_sp/chuoi-hat-aroth.jpeg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=57'>Chuỗi Hạt Aroth</a></div>

                <div class='sp_gia'>63,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=57'><img src='../images/icon_muahang.png' /></a></div>
            </td>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=54' title='Chi tiết sản phẩm'><img src='/images/img_sp/sci-tap-1-sat-nhan-danh-so.jpeg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=54'>S.C.I - Tập 1 - Sát Nhân Đánh Số</a></div>

                <div class='sp_gia'>80,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=54'><img src='../images/icon_muahang.png' /></a></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=55' title='Chi tiết sản phẩm'><img src='/images/img_sp/kim-tu-thap-do.jpeg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=55'>Kim Tự Tháp Đỏ</a></div>

                <div class='sp_gia'>141,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=55'><img src='../images/icon_muahang.png' /></a></div>
            </td>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=50' title='Chi tiết sản phẩm'><img src='/images/img_sp/diem-quy.jpg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=50'>Diễm Quỷ</a></div>

                <div class='sp_gia'>75,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=50'><img src='../images/icon_muahang.png' /></a></div>
            </td>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=51' title='Chi tiết sản phẩm'><img src='/images/img_sp/tu-pham.jpg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=51'>Tư Phàm</a></div>

                <div class='sp_gia'>65,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=51'><img src='../images/icon_muahang.png' /></a></div>
            </td>
        </tr>
        <tr>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=52' title='Chi tiết sản phẩm'><img src='/images/img_sp/ho-duyen.jpeg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=52'>Hồ Duyên</a></div>

                <div class='sp_gia'>64,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=52'><img src='../images/icon_muahang.png' /></a></div>
            </td>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=53' title='Chi tiết sản phẩm'><img src='/images/img_sp/hoan-kho.jpeg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=53'>Hoàn Khố</a></div>

                <div class='sp_gia'>70,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=53'><img src='../images/icon_muahang.png' /></a></div>
            </td>
            <td>
                <div class='sp_img'><a href='index.php?page=thongtinsach&masach=47' title='Chi tiết sản phẩm'><img src='/images/img_sp/ngoi-khoc-tren-cay.jpeg' /></a></div>

                <div class='sp_name'><a class='sp_name' href='index.php?page=thongtinsach&masach=47'>Ngồi Khóc Trên Cây</a></div>

                <div class='sp_gia'>99,000 vnđ</div>

                <div class='sp_mua'><a href='index.php?page=add&masach=47'><img src='../images/icon_muahang.png' /></a></div>
            </td>
        </tr>
    </table>
</div>

