<a href="@Url.Content("~/GioHang/GioHang")">
    <i class="fa fa-shopping-cart"></i>
    @{
        if (Session["GioHang"] != null)
        {
            <span>@ViewBag.TongSach</span>
        }
    }
</a>
