<a href="@Url.Content("~/GioHang/GioHang")">
    <i class="fa fa-shopping-cart"></i><span>Giỏ hàng</span>
    @{
        if (Session["SessionGioHang"] != null)
        {
            <span>
                @ViewBag.TongSach
            </span>
        }
    }
</a>
