<!-- SLIDER -->
<div id="slider">
    <div id="main-slider1" class="owl-carousel owl-theme">
        <div class="item">
            <img src="~/Content/User/images/slider/1.jpg" alt="">
            <div class="container">
                <h3>Wefit Fitness<span>Helps you get more active</span></h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/User/images/slider/2.jpg" alt="">
            <div class="container caption2">
                <h3>It's not a diet<span>It's a Permanent LIFTSTYLE CHANGE</span></h3>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/User/images/slider/3.jpg" alt="">
            <div class="container">
                <div class="caption3">
                    <h3>It never get easier<span>You Just Get Stronger</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
