@using SachOnline.Models;
@model List<ChuDe>
  @{
      foreach (var item in Model)
      {
        <li><a href='@Url.Action("SachTheoTheloaiView","Partial",new { @machude=item.MaChuDe})'>@item.TenChuDe</a></li>
      }
}  