@using SachOnline.Models;
@model List<ChuDe>
  @{
      foreach (var item in Model)
      {
        <li><a href='@Url.Action("SachTheoTheloai","User",new { @matheloai=item.MaChuDe,page=1})'>@item.TenChuDe</a></li>
      }
}  