
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}
    <div class="container">
        <div class="content-head">
            <h3><span>Our Products</span><i><img src="~/Content/User/images/cart.png" alt="" /></i></h3>
            <p>Which gym equipments you are going to take home, Muscle Building Equipments?</p>
        </div>
        <div class="row">

            <!-- SIDEBAR -->
            <div class="col-md-3 sidebar">
                <div class="sbar-widget no-border">
                    <form class="sbar-search">
                        <input type="text" placeholder="Search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="space10"></div>
                </div>

                <div class="sbar-widget">
                    <h5>Browse By</h5>
                    <div class="toggle1">
                        <div class="title">
                            <a href="#" class="toggle-trigger1">Fitness Accessories</a>
                        </div>
                        <div class="toggle-content1">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="title">
                            <a href="#" class="toggle-trigger">Cycling Accessories</a>
                        </div>
                        <div class="toggle-content">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="title">
                            <a href="#" class="toggle-trigger">Multi Gym Accessories</a>
                        </div>
                        <div class="toggle-content">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="title">
                            <a href="#" class="toggle-trigger">Bench Equipments</a>
                        </div>
                        <div class="toggle-content">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="title">
                            <a href="#" class="toggle-trigger">Cardio Vascular</a>
                        </div>
                        <div class="toggle-content">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="title">
                            <a href="#" class="toggle-trigger">Massagers</a>
                        </div>
                        <div class="toggle-content">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="title">
                            <a href="#" class="toggle-trigger">Fitness Equipment</a>
                        </div>
                        <div class="toggle-content">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="toggle">
                        <div class="title">
                            <a href="#" class="toggle-trigger">Kids</a>
                        </div>
                        <div class="toggle-content">
                            <ul>
                                <li><a href="#">Fitness Accessories</a></li>
                                <li><a href="#">Cycling Accessories</a></li>
                                <li><a href="#">Multi Gym Accessories</a></li>
                                <li><a href="#">Bench Equipments</a></li>
                                <li><a href="#">Cardio Vascular</a></li>
                                <li><a href="#">Massagers</a></li>
                                <li><a href="#">Fitness Equipment</a></li>
                                <li><a href="#">Kids</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sbar-widget">
                    <h5>Filter by <span><a href="#">Reset All</a></span></h5>
                    <h6>Price Range</h6>
                    <span class="minmax">Min. <em>Max.</em></span>
                    <div class="s_range">
                        <div id="sliderRange"></div>
                        <div class="range_v">
                            <input type="text" id="price1" name="price1" title="" value="$1050" class="input" />
                            <input type="text" id="price2" name="price2" title="" value="$8500" class="input" />
                        </div>
                    </div>
                </div>

                <div class="sbar-widget">
                    <h6 class="margin-10">Brand</h6>
                    <form class="sbar-brand">
                        <input type="text" placeholder="Search by Brand">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <ul class="s-brand">
                        <li><a href="#">Reebok <span>110</span></a></li>
                        <li><a href="#">Adidas <span>124</span></a></li>
                        <li><a href="#">Harbinger <span>16</span></a></li>
                        <li><a href="#">Schiek <span>83</span></a></li>
                        <li><a href="#">LP Support <span>65</span></a></li>
                        <li><a href="#">Co-Fit <span>112</span></a></li>
                        <li><a href="#">Tunturi <span>59</span></a></li>
                        <li><a href="#">USI <span>28</span></a></li>
                        <li><a href="#">Vector X <span>76</span></a></li>
                        <li><a href="#">Camelbak <span>44</span></a></li>
                    </ul>
                </div>

                <div class="sbar-widget">
                    <h6 class="margin-10">Discounts</h6>
                    <ul class="s-discounts">
                        <li>
                            <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox1" checked="checked" /><label for="radio1" class="css-label1 radGroup1">Discount Items</label>
                        </li>
                        <li>
                            <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox1" /><label for="radio2" class="css-label1 radGroup1">Non Discount Items</label>
                        </li>
                    </ul>
                </div>

                <div class="sbar-widget no-border">
                    <h3>Popular Product</h3>
                    <div class="pp-slider">
                        <div>
                            <ul class="pp-posts">
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/1.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Bowflex Dumbbells, Stainless Steel</a></h4>
                                        <p>$175
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/2.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Finnlo Maximum Kraftstation M3 Multi Gym</a></h4>
                                        <p>$2950
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/3.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Harbinger Training Grip WristWrap Gloves</a></h4>
                                        <p>$150
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/4.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">BH Fitness G2375 Elliptical</a></h4>
                                        <p>$450
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/5.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Sole E25 Elliptical</a></h4>
                                        <p>$1250
                                        <p>
                                            <div class="space15"></div>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="pp-posts">
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/1.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Bowflex Dumbbells, Stainless Steel</a></h4>
                                        <p>$175
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/2.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Finnlo Maximum Kraftstation M3 Multi Gym</a></h4>
                                        <p>$2950
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/3.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Harbinger Training Grip WristWrap Gloves</a></h4>
                                        <p>$150
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/4.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">BH Fitness G2375 Elliptical</a></h4>
                                        <p>$450
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/5.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Sole E25 Elliptical</a></h4>
                                        <p>$1250
                                        <p>
                                            <div class="space15"></div>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul class="pp-posts">
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/1.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Bowflex Dumbbells, Stainless Steel</a></h4>
                                        <p>$175
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/2.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Finnlo Maximum Kraftstation M3 Multi Gym</a></h4>
                                        <p>$2950
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/3.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Harbinger Training Grip WristWrap Gloves</a></h4>
                                        <p>$150
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/4.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">BH Fitness G2375 Elliptical</a></h4>
                                        <p>$450
                                        <p>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="pp-link"><img src="images/xtra/4/5.jpg" alt="" /></a>
                                    <div class="ppp-inner">
                                        <h4><a href="./shop-single.html">Sole E25 Elliptical</a></h4>
                                        <p>$1250
                                        <p>
                                            <div class="space15"></div>
                                            <div class="rating">
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-yes"></a>
                                                <a href="#" class="fa fa-star star-no"></a>
                                            </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FILTER -->
           *<div class="col-md-9">
                <div class="grid-filter">
                    <div class="gf-inner">
                        <em>Sort by:</em>
                        <div class='selectBox selectCustom'>
                            <span class='selected'></span>
                            <span class='selectArrow'><i class="fa fa-angle-down"></i></span>
                            <div class="selectOptions">
                                <span class="selectOption">Default Sorting</span>
                                <span class="selectOption">Sort by Price</span>
                                <span class="selectOption">Newest Items</span>
                            </div>
                        </div>
                    </div>
                    <div class="gf-link"><a href="#" class="fa fa-arrow-up"></a></div>
                    <div class="gf-inner gf-inner1">
                        <em>Show:</em>
                        <div class='selectBox selectCustom'>
                            <span class='selected'></span>
                            <span class='selectArrow'><i class="fa fa-angle-down"></i></span>
                            <div class="selectOptions">
                                <span class="selectOption">12 items / page</span>
                                <span class="selectOption">24 items / page</span>
                                <span class="selectOption">48 items / page</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <!-- SHOP CONTENT -->
                <div class="product-main">
                    <div class="row">
                        @Html.Action("SachPartial", "Partial")
                    </div>
                    </div>

                    <!-- PAGE NAV -->
                    <div class="page-nav2">
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



<!-- NEWSLETTER -->
@*<div class="home-newsletter home-newsletter2">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p><i class="fa fa-edit"></i> Subscribe to our newsletter</p>
                <form>
                    <input type="text" placeholder="Enter your email">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>*@



