@charset "utf-8";
/* CSS Document */


/*-- Slide --*/
 #wrap-slide{
	width: 1000px;
}
#slideshow{
	position: relative;
	width: 1000px; height: 400px;
}
#slideshow li img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#slideshow .current img, #slideshow .current p{z-index: 50;}{
	position: absolute;
	z-index: 1000;
	text-indent: -99999px;
	cursor: pointer;
}

.active{
	background-position:0 -22px !important;
}
/*-- End slide --*/


/*-- Footer --*/
.contact{
	height: 200px;
	color: #FFF;
}
#contact{
	float: right;
	display: inline-block;
	font-size: 18px;
	margin-top: -65px;
	margin-right: 350px;
}

#contact a{
	color: #FFF;
}

#contact a:hover{
	text-decoration: underline;
}

.gioithieu{
	float: left;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 180px;
}
#gioithieu{
	width: 500px;
	font-size: 14px;
	margin-top: 15px;
	margin-left: 165px;
}

#lienhe{
	display: inline-block;
	font-size: 14px;
	margin-left: 250px;
	margin-right: -250px;
}
/*-- End footer --*/

.account{
	color: cyan;
	font-weight: bold;
	font-size: 18px;
}

.cart-echo{
	display: inline-block;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*-- Giỏ hàng --*/
.contentGiohang{
	display: inline-block;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: -230px;
}

.infoGiohang tr{
	border-bottom: 5px solid #36F;
}

.tableGiohang{
	width: auto;
	border: 5px solid #36F;
	padding: 10px;
}


.hinhanhsp img{
	width: 90px;
	height: 130px;
	margin: 10px;
	border: 5px solid #36F;
}
.tensp{
	width: 200px;
}
.giasp{
	width: 80px;
}
.soluongsp input{
	width: 50px;
}

.update-cart{
	margin: 10px;
	padding: 3px;
	background-color: #63F;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px;
}
.update-cart:hover{
	background-color: #39F;
}

.tongtien{
	color: #6FC;
	float: right;
	margin-right: -200px;
}
.giatongtien{
	color: #6FC;
	float: right;
	margin-right: -150px;
}

.muatiep{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.muatiep a:hover{
	text-decoration: underline;
}

.muahang a:hover{
	text-decoration: underline;
}
/*-- End giỏ hàng --*/


/*-- Mua hàng --*/
.canh-bao{
	font-size: 16px;
	color: red;
	font-weight: bold;
	padding: 10px;
}
/*-- End mua hàng --*/